<section>
  <header class="main-header">
      <img src="../../assets/images/pizza2.jpg" alt="">
      <!-- <div class="right-container"> -->
          <!-- <div class="dropdown"> -->
              <!-- <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                {{userName}}
              <span class="caret"></span></button>
              <ul class="dropdown-menu"> -->
                <!-- <li><a href="#">Profile</a></li>
                <hr> -->
                <!-- <li (click) = "logOut()"><a>LogOut</a></li> -->
              <!-- </ul> -->
            <!-- </div> -->
      <!-- </div> -->
  </header>
</section>
